{% comment %} <!DOCTYPE HTML>
<html>
    <head>
        <title>学员管理系统</title>
    </head>
    <body>
        <hr/>
        <div>
            <p> 新注册学生 </p>
            <form action="/" method="post">
                {% csrf_token %}
                <table>
                    {{ form.as_table }}
                </table>
                <input type="submit" value="提交" />
            </form>
        </div>
        <hr/>
        <div>
            <input value=请输入姓名>
            </input>
        </div>
    </body>

</html> {% endcomment %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>首页</title>
    <script src="/static/axios.min.js"></script>
    <link rel="stylesheet" href="/static/main.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="logo">
                <h1> 上海对外经贸大学第二课堂成绩系统 </h1>
            </div>
        </div>
        <div class="content">
            <div class="login">
                <form method="post">
                    
                    {% comment %} <label for="_id">账号</label> {% endcomment %}
                    <input type="text" name="_id" id="_id" placeholder="输入账号" onfocus="clearAlarm()"><br>
                    <span class='alarm-info'></span>
                
                
                    {% comment %} <label for="pwd">密码</label> {% endcomment %}
                    <input type="password" name="pwd" id="pwd" placeholder="输入密码" onfocus="clearAlarm()"><br> 
                    <span class='alarm-info'></span>
                    
                    {% comment %} <p>
                        <span style="font-size: 0.9em; font-weight: lighter">
                            <input type="radio" name="role" id="role" value="学生" checked="checked">学生
                        </span>
                        <span style="font-size: 0.9em; font-weight: lighter">
                            <input type="radio" name="role" id="role" value="教师">教师
                        </span>
                    </p> {% endcomment %}
                    {% comment %} <p>
                        <button type="button" onclick="submitDATA()">登陆</button>
                        <button type="reset" style="margin-left: 2em" onclick="clearAlarm()">重置</button>
                        <span class="alarm-info"></span>
                    </p> {% endcomment %}
                   
                    <input type="submit" id="subm" value="登录" />
                    
                    {% comment %} <p>
                        <a href="signUp.html">注册</a>
                        <a href="findPwd.html">密码找回</a>
                    </p> {% endcomment %}
                </form>
            </div>
        </div>
        <div class="footer">
            <p> <a href="/admin">后台管理</a> | <a href="http://www.suibe.edu.cn/">学校主页</a> | 版权所有©2021 肖宇</p>
        </div>
    </div>
</body>
<script>
    var clearAlarm = function () {
        var alert_spans = document.getElementsByClassName("alarm-info")
        for (let sp of alert_spans) {
            sp.innerHTML = "";
            sp.style.display = "none";
        }
    }

    var checkSID = function () {
        var div_sid = document.getElementById("_id");
        var sid_value = div_sid.value.trim();
        var alert_span = document.getElementsByClassName("alarm-info")[0];  // 用于提示账号错误信息
        if (sid_value == "") {
            alert_span.style.display = "inline";
            alert_span.innerHTML = "账号为空!";
        } else if (!/^[0-9]+$/.test(sid_value)) {
            alert_span.style.display = "inline";
            alert_span.innerHTML = "账号应全是数字!";
        } else {
            return sid_value;
        }

    };

    var checkPWD = function () {
        var div_pwd = document.getElementById("pwd");
        var pwd_value = div_pwd.value;
        var alert_span = document.getElementsByClassName("alarm-info")[1]; // 用于提示密码错误信息
        if (pwd_value == "") {
            alert_span.style.display = "inline";
            alert_span.innerHTML = "密码为空!";
        } else if (/\s/.test(pwd_value)) {
            alert_span.style.display = "inline";
            alert_span.innerHTML = "密码包含空字符!";
        } else {
            return pwd_value;
        }
    }

    var submitDATA = function () {
        var _id = checkSID();
        var pwd = checkPWD();
        if (_id && pwd) {
            axios.post("/loginPost", {_id: _id, pwd: pwd})
                .then(function(res){
                    console.log(res);
                    var resData = res.data;
                    var alert_span = document.getElementsByClassName("alarm-info")[2];
                    if (resData.i_code == 0) {
                        var c_text = document.getElementsByClassName("content")[0];
                        c_text.innerHTML = resData.msg;
                    } else {
                        alert_span.style.display = "inline";
                        alert_span.innerHTML = resData.msg;
                    }
                })
                .catch(function(err){
                    console.log(err);
                })
        } else {
        }

    }

</script>
</html>