<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>学生工作页面</title>
    <script src="/static/axios.min.js"></script>
    <script src="/static/layui/layui.all.js"></script>
    <link rel="stylesheet", href="/static/layui/css/layui.css">
    <link rel="stylesheet" href="/static/student.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <h1> 上海对外经贸大学第二课堂成绩系统 </h1>
            <span id="menu">
                <p> 欢迎您, <i>{{ request.user }}</i>! </p>
                <a href="/logout">退出登录</a>
            <span>
        </div>
        <div class="nav">
            <ul>
                <li><a href="#base_info">个人信息</a></li>
                <li><a href="#exp_1">第二课堂经历</a></li>
                <li><a href="#exp_2">学生组织经历</a></li>
                <li><a href="#exp_3">所获奖励</a></li>
            </ul>
        </div>
        <div class="content">
            <div class="display">
                <div class="item" id="base_info">
                    <h3>个人信息</h3>
                    <table class="layui-table" lay-skin="nob">
                        <thead>
                        <tr>
                            <th>学院</th>
                            <th>年级</th>
                            <th>专业</th>
                            <th>学号</th>
                            <th>姓名</th>
                            <th>性别</th>
                        </tr>
                        </thead>
                        <tr>
                            {% for v in meta_info %}
                                <td>{{ v }}</td>
                            {% endfor %}
                        </tr>
                    </table>
                </div>

                {% if infos %}
                <div class="item">
                    <h3>存在问题的项目</h3>
                    <table class="layui-table" lay-skin="line">
                        <thead>
                            <tr><th>序号</th><th>项目名称</th><th>错误提示</th></tr>
                        </thead>
                        <tbody>
                        {% for prj, err in infos %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ prj }}</td>
                                <td>{{ err }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% endif %}
                
                <div class="item" id="exp_1">
                    {% if activities %}
                        {% for k, vs_list in activities.items %}
                            <h3>{{ k }}</h3>
                            <table class="layui-table" lay-skin="line">
                                <thead>
                                <tr>
                                    <th>序号</th><th>活动时间</th><th>活动名称</th><th>主办单位</th><th>认证状态</th>
                                </tr>
                                </thead>
                                {% for vs in vs_list %}
                                    <tr>
                                        {% for v in vs %}
                                            <td>{{ v }} </td>
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                            </table>
                        {% endfor %}
                    {% else %}
                        <p>无参加活动经历！</p>
                    {% endif %}
                </div>
                <div class="item" id="exp_2">
                    <h3>学生组织经历</h3>
                    <table class="layui-table" lay-skin="line" id="studentOrgTB">
                        <thead>
                            <tr>
                                <th>序号</th><th>开始时间</th><th>结束时间</th><th>活动名称</th><th>职位</th><th>隶属单位</th><th>认证状态</th>
                            </tr>
                        </thead>
                        {% if organization %}
                            {% for vs in organization %}
                                <tr>
                                    {% for v in vs %}
                                        <td>{{ v }} </td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        {% endif %}
                    </table>
                    <button class="layui-btn layui-btn-primary layui-btn-sm" onclick="open_layer1()">
                        <i class="layui-icon">&#xe654;</i>
                    </button>
                </div>
                <div class="item" id="exp_3">
                    <h3>获奖经历</h3>
                    <table class="layui-table" lay-skin="line" id="studentScholarTB">
                        <thead>
                            <tr>
                                <th>序号</th><th>获奖时间</th><th>奖励名称</th><th>颁奖单位</th><th>认证状态</th>
                            </tr>
                        </thead>
                        {% if scholar %}
                            {% for vs in scholar %}
                                <tr>
                                    {% for v in vs %}
                                        <td>{{ v }} </td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        {% endif %}
                    </table>
                    <button class="layui-btn layui-btn-primary layui-btn-sm" onclick="open_layer2()">
                        <i class="layui-icon">&#xe654;</i>
                    </button>
                </div>
        </div>
    </div>
</body>

<script>
    var formReset = function () {
        document.querySelector('#add1, #add2').reset()
    };

    var getFormValues = function (form) { // 获取表单中的input值
        var data = new Object();
        var tagElements = form.getElementsByTagName('input');  
        for (var i = 0; i < tagElements.length; i++){ 
            data[tagElements[i].name] = tagElements[i].value.trim(); 
        } 
        return data;
    };

    var submitData = function (form_tag, tb_tag, post_url) {
        let form = document.getElementById(form_tag);
        let post_data = getFormValues(form);
        axios.post(post_url, post_data)
            .then(function(res) {
                window.alert("添加成功!");
                var resData = res.data;
                if (res.status == 200) {
                    tb = document.getElementById(tb_tag);
                    trs = tb.getElementsByTagName("tr");
                    last_tr = trs[trs.length-1];
                    last_idx = parseInt(last_tr.querySelector("th, td").textContent);  // 获取上一个序号
                    if (last_idx) {
                        idx = (last_idx + 1).toString();
                    } else {
                        idx = "1";
                    };
                    var new_tr = document.createElement("tr");  // 新的一行
                    var idx_td = document.createElement("td");
                    idx_td.appendChild(document.createTextNode(idx));
                    new_tr.appendChild(idx_td);
                    console.log(post_data)
                    for (let ele in post_data) {
                        td = document.createElement("td");
                        td.appendChild(document.createTextNode(post_data[ele]));
                        new_tr.appendChild(td);
                    };
                    td = document.createElement("td");
                    td.appendChild(document.createTextNode("未认证"));
                    new_tr.appendChild(td);
                    tb.appendChild(new_tr);
                } else {
                    window.alert("添加失败");
                }
            })
            .catch(function(err){
                window.alert(err);
            });
    };

    var open_layer1 = function () {
        layui.use('layer', function(){
            var layer = layui.layer;
            layer.open({
                type: 1,
                title: "<p style='text-align:center;font-size:1.5em; font-weight:bold'>学生组织记录</p>",
                area: ["400px", "450px"],
                content: `<form id="add1" class="layui-form">
                            <div class="layui-input-block">
                                <label class="layui-form-label">开始时间</label>
                                <div class="layui-input-block">
                                    <input type="date" lay-verify="required" id="start_time" name="start_time" value="" class="layui-input"/>
                                </div>
                            </div>
                            <div class="layui-input-block">
                                <label class="layui-form-label">结束时间</label>
                                <div class="layui-input-block">
                                    <input type="date" lay-verify="required" id="end_time" name="end_time" value="" class="layui-input"/>
                                </div>
                            </div>
                            <div class="layui-input-block">
                                <label class="layui-form-label">组织名称</label>
                                <div class="layui-input-block">
                                    <input type="text" lay-verify="required" id="org_name" name="org_name" value="" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-input-block">
                                <label class="layui-form-label">职位</label>
                                <div class="layui-input-block">
                                    <input type="text" lay-verify="required" id="position" name="position" value="" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-input-block">
                                <label class="layui-form-label">隶属部门</label>
                                <div class="layui-input-block">
                                    <input type="text" lay-verify="required" id=department_name name="department_name" value="" class="layui-input">
                                </div>
                            </div>
                        </form>
                        <div class="layui-input-block">
                            <div class="layui-form-item">
                                <button class="layui-btn-primary layui-btn-sm" onclick="submitData('add1', 'studentOrgTB', '/insertStudentOrganization')">提交</button>
                                <button class="layui-btn-primary layui-btn-sm layui-btn-primary" onclick="formReset()">清空</button>
                            </div>
                        </div>`
            }
            );
        })
    };

    var open_layer2 = function () {
        layui.use('layer', function(){
            var layer = layui.layer;
            layer.open({
                type: 1,
                title: "<p style='text-align:center; font-size:1.5em; font-weight:bold'>奖励记录</p>",
                area: ["400px", "300px"],
                content: `<form id="add2" method="post" class="layui-form">
                                <div class="layui-input-block">
                                    <label class="layui-form-label">奖励时间</label>
                                    <div class="layui-input-block">
                                        <input type="date" lay-verify="required" name="g_time" value="" class="layui-input"/>
                                    </div>
                                </div>
                                <div class="layui-input-block">
                                    <label class="layui-form-label">奖励名称</label>
                                    <div class="layui-input-block">
                                        <input type="text" name="scholar_name" value="" class="layui-input" lay-verify="required">
                                    </div>
                                </div>
                                <div class="layui-input-block">
                                    <label class="layui-form-label">奖励级别</label>
                                    <div class="layui-input-block">
                                        <input type="text" name="level" value="" class="layui-input" lay-verify="required">
                                    </div>
                                </div>
                            </form>
                            <div class="layui-form-item">
                                <div class="layui-input-block">
                                    <button class="layui-btn-primary layui-btn-sm" onclick="submitData('add2', 'studentScholarTB', '/insertStudentScholar')">提交</button>
                                    <button class="layui-btn-primary layui-btn-sm layui-btn-primary" onclick="formReset()">清空</button>
                                </div>
                            </div>`
            });
        })
    };  
</script>
</html>