<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>教师工作主页</title>
    <script src="/static/axios.min.js"></script>
    {% comment %} <script src="../static/layui/layui.all.js"></script>
    <link rel="stylesheet", href="../static/layui/css/layui.css"> {% endcomment %}
    <link rel="stylesheet" href="/static/mainboard.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <h1> 上海对外经贸大学第二课堂成绩系统 </h1>
            <span id="menu">
                <p> 欢迎您, <i>{{ request.user }}</i>! </p>
                <a href="/logout" style="font-size: 12; font-color: yellow">退出登录</a>
            <span>
        </div>
        <div class="content">
            <div class="search">
                <form id="myForm" method="post">
                    <span>
                        <input type="text" name="_id" id="_id" placeholder="输入学号" onfocus="clearAlarm()"/>
                    </span><br>
                </form>
                <span>
                    <button onclick="submitDATA()">查看</button>
                </span>
                <span class="display_info" id="buttons" style="display:none">
                    <button onclick="printMe()">打印</button>
                    <button onclick="formSubmit()">导出</button>
                </span>
            </div>
            <div class="display_info" id="res_info"></div>
            {% comment %} <div><table id="demo" lay-filter="test"></table></div> {% endcomment %}
        </div>
    </div>
</body>
<script>
    var clearAlarm = function () {
        var mask_tags = document.getElementsByClassName("display_info")
        for (let mt of mask_tags) {
            mt.style.display = "none";
        }
    }

    var formSubmit = function () {
        document.getElementById("myForm").submit()
    }

    var submitDATA = function () {
        var student_id = document.getElementById("_id").value
        console.log(student_id)
        if (student_id) {
            axios.post("/checkDocx", {s_id: student_id})
                .then(function(res){
                    var resData = res.data;
                    var res_info = document.getElementById("res_info");
                    var buttons = document.getElementById("buttons");

                    res_info.style.display = "inline";
                    res_info.innerHTML = resData;
                    if (resData.indexOf("<table") >= 0){ // 如果查询到结果
                        buttons.style.display = "inline";
                    }
                })
                .catch(function(err){
                    console.log(err);
                })
        } else {
            console.log("帐号为空!")
        }
    }

    var printMe = function (){
        var oldBody = document.body.innerHTML;
        document.body.innerHTML = "<h2>上海对外经贸大学学生第二课堂经历证明</h2>" + document.getElementById('res_info').innerHTML;
        window.print();
        document.body.innerHTML = oldBody // 恢复
    }
</script>
{% comment %} <script>
    layui.use('table', function(){
    var table = layui.table;
    //第一个实例
    table.render({
        elem: '#demo'
        ,height: 312
        ,url: 'https://www.layui.com/demo/table/user/' //数据接口
        ,page: true //开启分页
        ,cols: [[ //表头
        {field: 'id', title: 'ID', width:80, sort: true, fixed: 'left'}
        ,{field: 'username', title: '用户名', width:80}
        ,{field: 'sex', title: '性别', width:80, sort: true}
        ,{field: 'city', title: '城市', width:80} 
        ,{field: 'sign', title: '签名', width: 177}
        ,{field: 'experience', title: '积分', width: 80, sort: true}
        ,{field: 'score', title: '评分', width: 80, sort: true}
        ,{field: 'classify', title: '职业', width: 80}
        ,{field: 'wealth', title: '财富', width: 135, sort: true}
        ]]
    });
    
    });
</script> {% endcomment %}
</html>

 {% comment %} onclick="submitDATA()" {% endcomment %}