<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>教师工作主页</title>
    <script src="/static/axios.min.js"></script>
    <script src="../static/layui/layui.all.js"></script>
    <script src="/static/jsFiles/teacher.js"></script>
    <link rel="stylesheet", href="../static/layui/css/layui.css">
    <link rel="stylesheet" href="/static/cssFiles/teacher.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <h1> 上海对外经贸大学第二课堂成绩系统 </h1>
            <span id="menu">
                <p> 欢迎您, <strong>{{ request.user }}</strong>! </p>
                <a href="/logout" style="font-size: 12; font-color: yellow">退出登录</a>
            <span>
        </div>

        <div class="main">
            <div class="layui-tab layui-tab-card">
                <ul class="layui-tab-title">
                    <li class="layui-this">待认证学生组织活动</li>
                    <li>待认证学生奖学金</li>
                    <li>信息查询</li>
                </ul>
                <div class="layui-tab-content">
                    <div class="layui-tab-item layui-show">
                        <table class="layui-table" lay-skin="line">
                            <thead>
                                <th>序号</th><th>学号</th><th>姓名</th><th>专业</th><th>组织名称</th><th>职位</th><th>开始时间</th>
                                <th>结束时间</th><th>隶属部门</th><th>认证状态</th><th>操作</th>
                            </thead>
                            {% if org_res %}
                                {% for row in org_res %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td><td>{{ row.0 }}</td>
                                        <td>{{ row.1 }}</td><td>{{ row.2}}</td>
                                        <td>{{ row.3 }}</td><td>{{ row.4 }}</td>
                                        <td>{{ row.5 }}</td><td>{{ row.6 }}</td>
                                        <td>{{ row.7 }}</td><td>{{ row.8 }}</td>
                                        <td>
                                            <span id={{ row.9 }}>
                                                <button class="layui-btn layui-btn-primary layui-btn-sm" onclick="updateOrganizationState(this)">通过</button>
                                                <button class="layui-btn layui-btn-danger layui-btn-sm" onclick="updateOrganizationState(this)">返修</button>
                                            </span>
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% endif %}
                        </table>
                    </div>
                    <div class="layui-tab-item">
                        <table class="layui-table" lay-skin="line">
                            <thead>
                                <th>序号</th><th>学号</th><th>姓名</th><th>专业</th><th>获奖名称</th>
                                <th>获奖时间</th><th>获奖等级</th><th>认证状态</th><th>操作</th>
                            </thead>
                            {% if scholar_res %}
                                {% for row in scholar_res %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td><td>{{ row.0 }}</td>
                                        <td>{{ row.1 }}</td><td>{{ row.2}}</td>
                                        <td>{{ row.3 }}</td><td>{{ row.4 }}</td>
                                        <td>{{ row.5 }}</td><td>{{ row.6 }}</td>
                                        <td>
                                            <span id={{ row.7 }}>
                                                <button class="layui-btn layui-btn-primary layui-btn-sm" onclick="updateScholarState(this)">通过</button>
                                                <button class="layui-btn layui-btn-danger layui-btn-sm" onclick="updateScholarState(this)">返修</button>
                                            </span>
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% endif %}
                        </table>
                    </div>
                    <div class="layui-tab-item">
                        <div class="search">
                            <form class="layui-form" id="myForm" method="post" action="/downloadDocx">
                                <div class="layui-item">
                                    <input class="layui-input-inline" type="text" name="_id" id="_id" 
                                        required lay-verify="required" placeholder="请输入学号" onfocus="clearAlarm()"/>
                                </div>
                            </form>
                            <div class="layui-item">
                                <button onclick="submitDATA()">查看</button>
                            </div>
                        </div>
                        <div class="display_info" id="res_info"></div>
                        <span class="display_info" id="buttons" style="display:none">
                            <button onclick="formSubmit()">导出</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    layui.use('element', function(){
        var element = layui.element;
    });
</script>
</html>