body {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr 900px 1fr;
    grid-template-rows: 60px auto;
    grid-column-gap: 10px;
    grid-row-gap: 10px
}

.header {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    border-radius: 2px;
    background-color: #99ccff;
    opacity: 0.8;
}


/* .sider {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    border-radius: 2px;
    height: 600px;
    padding: 1em;
    background-color: PowderBlue;
} */

.content {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 0.5em;
    /* padding: 1em; */
    /* background-color: LightCyan; */
    border-radius: 2px;
}

.search,
.nav {
    margin-bottom: 2em;
    padding: 0.5em;
    border-style: outset;
    background-color: #99ccff;
    border-radius: 5px;
    opacity: 0.8;
}

#res_info {
    padding: 10px;
    border-radius: 2px;
    /* border-style: ridge dotted ridge; */
    /* border-color: lightgray; */
}

#menu {
    position: absolute;
    right: 20px;
}

#myForm {
    margin-bottom: 10px;
}

#buttons {
    margin-top: 10px;
}

table {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    margin-bottom: 1em;
}

table#base td {
    border: 0px;
    padding: 5px;
    font-family: FangSong_GB2312, SimHei, SimSun;
    font-size: 1em;
    font-weight: bold;
}

table.content tr {
    background-color: Snow;
    margin-bottom: 0.5em;
}

table.content tr:nth-child(odd) {
    background-color: MistyRose;
}

table.content tr:hover {
    background-color: #99ccff;
}

td {
    border: 1px solid DimGray;
    padding: 5px;
    font-family: KaiTi 'Courier New';
    font-size: 0.8em;
}

th {
    background-color: AntiqueWhite;
    border: 1px solid DimGray;
    padding: 2px;
    font-family: KaiTi 'Courier New';
    font-size: 1em;
}

input {
    margin: 5px;
    background-color: aliceblue;
}

input:focus,
textarea:focus {
    background-color: #9fe4eb;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.2em;
}

p {
    font-size: 0.5em;
}

#res_info p {
    color: firebrick;
    font-size: 0.5em;
}

#menu p {
    font-family: HeiTi, Calibri;
}

a {
    font-family: HeiTi, Calibri;
    font-size: 0.5em;
    text-emphasis: none;
    text-decoration: none;
    color: black;
}

a:hover {
    font-size: 0.5em;
    font-weight: bold;
    color: brown;
}