body {
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1000px 1fr;
    grid-template-rows: 60px auto 30px;
    justify-content: center;
    grid-gap: 10px;
    border-radius: 2px;
}

.header {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    background-color: #91d5ff;
    opacity: 0.8;
    border-radius: 2px;
}

.content {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    min-height: 650px;
    position: relative;
    border-radius: 2px;
    background-image: url(/static/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.footer {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    background-color: #91d5ff;
    opacity: 0.8;
    border-radius: 2px;
}

.footer p {
    text-align: center;
    font-size: small;
    position: relative;
    bottom: 5px;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.sider {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    grid-column: 1;
    min-height: 1000px;
    /* border: 1px solid cadetblue */
}

.login {
    background-color: #ece8e8;
    padding: 15px;
    position: absolute;
    opacity: 0.9;
    width: 240px;
    top: 10%;
    right: 10%;
    border-radius: 5px;
    box-shadow: 0 0 0.5em rgba(93, 162, 248, 0.5);
    z-index: 999;
}

.alarm-info {
    display: none;
    color: #FF5252;
    font-size: 0.8em
}

.fieldset-wrapper {
    padding: 1em;
    margin: 1em;
    border: 0.5px solid #eeee;
    border-radius: 5px;
    background-color: #888888;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
}

label {
    display: block;
    cursor: pointer;
    margin-bottom: 5px;
}

fieldset {
    display: table-cell;
    border: 0;
    padding: 5px;
}

legend {
    position: relative;
    left: 1.5em;
    font-size: 1.25em;
    font-weight: bolder;
    color: darkslategrey;
}

input {
    background-color: #ffffff;
    font-family: SimSun, 'Times New Roman', Times, serif;
    font-size: small;
    border: 1px solid grey;
    height: 1.5em;
    margin-top: 10px;
    margin-left: 10px;
    width: 12em;
}

input#subm {
    font-family: SimSun, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 0.8em;
    background-color: gainsboro;
    border: 1px solid grey;
    border-radius: 4px;
    width: 3em;
    height: 2em;
    padding: 0.2em 0.2em 0.2em 0.2em;
    margin-bottom: 0.5em;
}

input#subm:hover {
    background-color: ivory;
}

textarea {
    background-color: #ffffff;
    max-width: 50em;
}

input:focus,
textarea:focus {
    background-color: #eeeeee;
    border-color: #5da2f8;
    outline: 0;
}

input[type=radio] {
    position: relative;
    top: 4px
}

button {
    padding: 0.4em 0.5em;
    border-radius: 5px;
}

h2 {
    font-size: 1.5em;
}

a {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: small;
    text-emphasis: none;
    text-decoration: none;
    color: black;
}

a:hover {
    color: #005051;
}


/* li {
    display: block;
    padding: 5px;
    margin: 5px;
    text-align: center;
    width: 6em; 
    background-color: #99ccff;
    list-style-type: none;
} */